<link  rel="stylesheet" href="/stylesheets/reset.css">
<link  rel="stylesheet" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

    <div class="page_wrapper">
        <section class="main_form">
            <h1>Search for Near Earth Objects</h1>
            <form action="/results" method="GET">
                <label for="start">Enter a date (Year-Month-Day)</label>
                <input type="text" placeholder="YYYY-MM-DD" name="start">
                <input type="Submit" id="submit">
            </form>
        </section>
    </div>
