<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NEO</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link  rel="stylesheet" href="/stylesheets/reset.css">
  <link  rel="stylesheet" href="/stylesheets/main.css">
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd', changeYear:true, constrainInput: false, gotoCurrent: true, yearRange: "1900:2200"});
    $( "#format" ).on( "change", function() {
      $( "#datepicker" ).datepicker( "option", "dateFormat", $( this ).val() );
    });
  } );
  </script>
  
</head>
<body>
<div class="page_wrapper">
        <section class="main_form">
            <h1>Search for Near Earth Objects</h1>
            <form action="/results" method="GET">
                <input type="text" id="datepicker" name="start" required>
                <input type="Submit">
            </form>
        </section>
</div>

</body>
</html>
