

    @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
    
    /*font-family: 'Didact Gothic', sans-serif;*/

    html { 
      background: url(../images/stars.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    body {
        -webkit-font-smoothing: antialiased;
        color: white;
        font-size: 16px;
        letter-spacing: .02em;
        font-family: 'Didact Gothic', sans-serif;
        line-height: 3em;
    }
    
    /*lander page*/
    
    .main_form {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 50%;
    }
    
    .main_form h1 {
        padding: 1em;
        font-size: 3em;
    }
    
    .main_form input {
        display: block;
        margin: auto;
        margin-top: 1em;
    }
    
    .main_form label {
        font-size: 1.5em;
    }
    
    #submit {
        font-family: 'Didact Gothic', sans-serif;
        background: white;
        color: #32154A;
        font-size: 1.4em;
        padding: .6em;
        border: 1px solid;
        border-radius: 25px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #submit:hover {
        color: white;
        background: #32154A;
    }
    
    
    /*results page*/
    
    .results_header {
        width: 100%;
        text-align: center;
        margin: 2em 0;
        font-size: 3em;
    }
    
     #more-btn {
        clear: both;
        margin: 3em 0;
        font-size: .8em;
        padding: .4em;
        border: 1px solid;
        border-radius: 25px;
        background: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-family: 'Didact Gothic', sans-serif;
    }
    
    #more-btn:hover {
        color: white;
        background: #32154A;
    }
    
    #more-btn a {
        text-decoration: none;
        color: #32154A;
        padding: .2em;
    }
    
    #more-btn a:hover {
        color: white;
    }
    
    
    .dates {
        width: 100%;
        text-align: center;
        margin: 5em 1em 1em;
    }
    
    .dates h3 {
        font-size: 2em;
        width: 50%;
        margin: auto;
        padding: 1em 0 1em;
    }
    
    .danger {
        color: red;
    }
    
    .safe {
        color: #7FFF00;
    }
    
    
    .individual {
        float: left;
        width: 49%;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid white;
        background-color:rgba(255, 255, 255, 0.3);
    }
    
    .individual.danger {
        border: 1px solid red;
    }
    
    #ref-id {
        color: #ffff66;
    }
    
     @media only screen and (max-width: 1000px) {
         .individual {
            float: none;
            text-align: center;
            border: 1px solid white;
            display: block;
            margin: auto;
            width: 42%;
            margin-top: .5em;
         }
         
         .dates {
             margin: 0;
         }
         
         .results_header {
             margin: .5em 0;
         }
         
         #more-btn {
             margin: 0;
         }
    }
    
    @media only screen and (max-width: 915px) {
         .individual {
            font-size: 1em;
            width: 60%;
         }
         
         .dates h3 {
             font-size: 1.5em;
         }
         
         .dates {
             margin: auto;
         }
    }
    
    
    @media only screen and (max-width: 750px) {
        .main_form h1 {
            font-size: 2em;
        }
        
        .individual {
            font-size: 1em;
            width: 60%;
         }
         
         .dates h3 {
             font-size: 1em;
             width: 75%;
         }
         
         .results_header {
             font-size: 2em;
         }
    }
    
     @media only screen and (max-width: 360px) {
         .main_form {
            position: absolute;
            bottom: 54%;
         }
         .main_form label {
            font-size: 1em;
        }
     } 